@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-overpass: "Overpass", sans-serif;
    --color-dark-100: oklch(0.2095 0.0188 258.37);
    --color-cream-100: oklch(0.8635 0.0363 79.65)
}
